*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #010613;
  font-family: 'Roboto';
    position: relative;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 10px;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.navbar .logo a{
    font-size: 40px;
    font-weight: bold;
    background-color: #010613;
    align-items: center;
    justify-content: center;
    text-decoration: underline rgb(135, 183, 240);;
    
}
  
.navbar .toggle-btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.action-btn{
    font-weight: bold;
    padding: 15px;
    background-color: rgb(135, 183, 240);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    height: 50px;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action-btn:active{
    scale: 0.9;
}
.action-btn:hover{
    scale: 1.05;
    color: #fff;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    color: rgb(135, 183, 240);;
}
header{
    position: relative;
    padding: 0 2rem;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.dropdown-menu{
    display: none;
    position: absolute;
    color: #fff;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175 0.885, 0.32, 1.275);
}
.dropdown-menu.open{
    height: 240px;
}
.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Discover-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
h1{
    color: white; 
    font-size: 70px;
    margin-bottom: 30px;
 }
 .highlight{
     color: white;
     font-size: 1.2em;
     margin-bottom: 30px;
 }
 .buttons{
    
     margin-bottom: 30px;
 }
 .btn{
     padding: 15px;
     background-color: rgb(135, 183, 240);
     border: none;
     border-radius: 10px;
     width: 150px;
     color: #fff;
     font-size: 15px;
     font-weight: 200;
     cursor: pointer;
 }
 .learn-btn{
    padding: 15px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
}

.stats{
    display: flex;
    color: white;
    gap: 3rem;
    font-size: 30px;
}
span{
    color: rgb(135, 183, 240);
}
hr{
    height: 90px;
}
img{
   height: 520px;
   width: 600px;
   border-radius: 20px;
 }
 .text-header{
    display: flex;
    justify-content: space-between;
 }
 .upper-text{
    font-size: 46px;
    line-height: 1.5;
 }

 .btns:hover{
    background-color: #0056b3;
    transition: background-color 0.3s ease;
    scale: 1.05;
 }
 
.bid-button{
    width: 40%;
    background-color: #010613;
    color: rgb(135, 183, 240);
    border: 1px solid rgb(148, 181, 222);
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.double-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.double-container img{
    width: 400px;
    height: 400px;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end:1 ;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 8;
}
.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 8;
}
.gallery__item--5 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 8;
}
.image-container{
    display: flex;
}

.nft-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    transform: rotate(-7deg);
    z-index: -999;
}
.nft-image-1{
    position: absolute;
    left: 120px;
    top: 100px;
    z-index: -999;
}
.subscribe-container{
    max-width: 800px;
    padding: 50px;
    margin: 10px;
}
.subscribe-container h1{
    font-size: 70px;
    margin-bottom: 20px;
}
.subscribe-container p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}


.subscribe-container button{
    padding: 10px;
    height: 60px;
    border-radius: 10px;
    background-color: #204eb2;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

::placeholder{
    color: #fff;
}
.input-container form{
    position: relative;
    display: flex;
    background-color: #6f8fd9;
    height: 60px;
    width: 100%;
    border-radius: 10px;
    justify-content: end;
    align-items: center;

}

.email-input{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: #fff;
    outline: none;
    padding: 1rem 2rem;
}
.section{
    display: flex;
    margin-top: 100px;
    position: relative;
    margin-top: 200px;
}
.sell-section{
    max-width: 40%;
}
.third-image{
    display: flex;
    width: 40%;
    margin-left: 50px;
}
.third-image img{
    width: 400px;
    height: 400px;
}

.fourth-img{
    margin-top: 70px;
}

.image-section img{
    height: 400px;
    width: 400px;
}
.last-image{
    display: flex;
}
.form-section{
    display: flex;
    margin-top: 100px;
    position: relative;
    margin-left: 200px;
}
.fourth-image{
    display: flex;
    width: 40%;
    margin-left: 50px;
}
.fourth-image img{
    width: 400px;
    height: 400px;
}
.left-side{
    position: absolute;
    right: 1000px;
    bottom: 100px;
    z-index: -999;
}
.input-section{
    margin-left: 200px;
}
footer{
    margin-top: 200px;
    
}
.ending{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 100;
    margin-bottom: 20px;
}
.ending p{
    padding: 5px;
}
.rule{
    border: none;
    border-top: 1px solid white;
    border-bottom: none;
    width: 100%;
    display: block;
    height: 20px;
}
.footer-end{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.footer-end a{
    color: white;
    text-decoration: none;
}
.logo-container{
    padding: 15px;
    display: flex;
    gap: 1rem;
}
.facebook-logo{
    background-color: rgb(66, 66, 187);
    border-radius: 5px;
}
.logos{
    background-color: #fff;
    border-radius: 5px;
}
.cta-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 100px;
}
.cta-content {
    max-width: 50%;
}

.cta-title {
    font-size: 50px;
    margin-bottom: 20px;
}
.cta-image{
    display: flex;
    width: 40%;
    margin-left: 50px;
}
.upper-image{
    position: absolute;
    right: 50px;
    z-index: -999;
}
.lower-image{
    position: relative;
    top: 100px;
}

.highlights {
    color: #00bfff;
}
.cta-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn-primary {
    background-color: #00bfff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #008fc1;
}

.btn-secondary {
    background-color: transparent;
    color: #00bfff;
}
.btn-secondary:hover {
    background-color: #00bfff;
    color: #fff;
}

.cta-image {
    max-width: 45%;
}

.cta-image img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.artworks-section {
    padding: 20px;
    text-align: center;
}

.artworks-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.artworks-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.artwork-card {
    color: #fff;
    overflow: hidden;
    width: 300px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #020308;
    margin: 0;
    padding: 15px;
    border-radius: 30px;
    box-shadow: #020308;
}

.artwork-card:hover {
    transform: translateY(-10px);
}

.artwork-card img {
    width: 100%;
    height: auto;
}

.artwork-card h3 {
    margin: 15px;
    font-size: 20px;
}

.artwork-card p {
    margin: 0 15px 15px;
    font-size: 16px;
}

.artwork-card button {
    display: block;
    width: calc(100% - 30px);
    margin: 15px;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}
.artwork-card button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}


.card-header{
    display: flex;
    justify-content: space-between;
}
.card-btn{
    padding: 15px;
    background-color: rgb(135, 183, 240);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    
}
.card-btn:hover{
    background-color: #0056b3;
    transition: background-color 0.3s ease;
    
}
.art-flex{
    display: flex;
    align-items: baseline;
}

.art-work-title{
    display: fle;
    color: white;
    justify-content: space-between;
}
.card-time{
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}
.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.end{
    margin-bottom: 5px;
}
.nft-card{
    margin-top: 100px; 
    width: 300px; 
     height: 350px;
     margin-left:170px;
}


.image-side img {
    width: 400px;
    max-width: 600px;
}


@media(max-width: 1000px) {

    .Discover-section {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .content h1 {
        text-align: center;
        font-size: 90px;
    }

    .highlight {
        text-align: center;
        font-size: 15px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .card-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 0.4;
        margin-bottom: 2rem;
    }

    .double-container {
        flex-direction: column;
    }

    .subscribe-container h1 {
        text-align: center;
        font-size: 40px;
    }

    .subscribe-container p {
        text-align: center;
        font-size: 20px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(8, 5vw);
        grid-gap: 15px;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .gallery__item--2 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
}
.navbar .logo a{
    font-size: 60px;
} 
}


@media (max-width: 1024px) {
    
    .artworks-container {
        flex-direction: column;
        align-items: center;
    }

    .artwork-card {
        width: 80%;
    }
    .cta-section {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .cta-content .cta-images {
        max-width: 100%;
    }

    .cta-subtitle {
      font-size: 25px;
    }

    .cta-buttons {
        justify-content: center;
    }

    .cta-image{
    display: none;
}
.navbar .logo a{
    font-size: 50px;
}
}

@media (max-width: 1024px) {

    .ending {
        flex-direction: column;
        gap: 2rem;
    }

}


@media (max-width: 768px) {
    .Discover-section h1{
        font-size: 80px;
    }
    .stats{
        font-size: 25px;
    }
    nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }


    .artworks-section h2 {
        font-size: 20px;
    }

 .artwork-card h3 {
        font-size: 18px;
    }

    .artwork-card p {
        font-size: 14px;
    }

    .artwork-card button {
        font-size: 14px;
    }
    .cta-image {
        position: absolute;
        width: 80%;
    }
    .navbar .logo a {
        font-size: 40px;
    }
    
}
@media (max-width:700px){
    .card-btn{
        width: 200px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(8, 5vw);
        grid-gap: 15px;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .gallery__item--2 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
}
}
@media (max-width:600px){
    .Discover-section h1{
        font-size: 70px;
    }
    .stats {
        font-size: 20px;
    }
    .cta-subtitle{
        font-size: 20px;
    }
    .image-container img{
        width: 300px;
        height: 350px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(8, 5vw);
        grid-gap: 15px;
        flex-direction: column;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .gallery__item--2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 8;
    }
    .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 8;
    }
    .navbar .logo a {
        font-size: 30px;
    }

}
@media (max-width: 987px){
    .navbar .logo a {
        font-size: 50px;
    }
}
@media (max-width: 329px){
    .navbar .logo a {
        font-size: 20px;
    }
}
@media (max-width: 500px){
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 9;
    }
    .gallery__item--2 {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 9;
        grid-row-end: 12;
    }
    .gallery__item--3{
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 12;
        grid-row-end: 15;
        height: 250px;
    }
    .gallery__item--4{
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 15;
        grid-row-end: 19;
    }
    .gallery__item--5{
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 19;
        grid-row-end: 21;
    }
    .image-container img{
            width: 250px;
            height: 250px;
        }
        .image-container .nft-card{
            width: 250px;
            height: 250px;
            margin-right: 5px;
        }
        .double-container{
            margin-top: 100px;
        }
    }
    @media (max-width: 550px){
        .text-header{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .btns{
            line-height: 1;
        }
        .image-container img{
            width: 250px;
            height: 250px;
        }
        .image-container .nft-card{
            width: 250px;
            height: 250px;
            margin-right: 5px;
        }
    }

@media (max-width: 480px) {
    .artwork-card {
        width: 100%;
    }

    .artworks-section h2 {
        font-size: 18px;
    }

    .artwork-card h3 {
        font-size: 16px;
    }

    .artwork-card p {
        font-size: 12px;
    }
    .artwork-card button {
        font-size:12px;
    }
}
@media(max-width:460px){
    .content h1{
        font-size: 55px;
    }
    .highlight{
        font-size: 12 px ;
    }
    .btn{
        width: 150px;
    }
    .stats{
        font-size: 15px;
        justify-content: center;
        align-items: center;
    }
    hr{
        height: 40px;
    }
    .image-container img{
        width: 200px;
        height: 190px;
        margin-left: 15px;
    }
    .image-container .nft-card{
        width: 190px;
        height: 190px;
        margin-top: 50px;
        margin-left: 110px;
        
    }
    
}
@media(max-width:460px){
    .navbar .logo a{
        font-size: 40px;
    }
    
}
@media(max-width:440px){
    .image-side img{
width: 300px;
height: 400px;
    }
}
@media(max-width:390px){
    .content h1 {
        text-align: center;
        font-size: 40px;
    } 
    .highlight{
        font-size: 15px;
    }
    .stats{
        font-size: 12px;
    }
    .upper-text{
        font-size: 40px;
    }
    .cta-title{
        font-size: 40px;
    }
    .cta-subtitle{
        font-size: 15px;
    }
    .upper-text{
        font-size: 40px;
    }
    .subscribe-container p{
        font-size: 15px;
    }
    .subscribe-container button {
        font-size: 10px;
    }
}
@media(max-width:340px){
    .content h1{
        font-size: 35px;
    }
    .highlight {
        font-size: 12px;
    }
    .stats {
        font-size: 10px;
    }
    .btn {
        width: 100px;
        font-size: 12px;
    }
    .learn-btn{
        font-size: 12px;
        background-color: transparent;
    }
}
@media(max-width:312px){
    .content h1{
        font-size: 25px;
    }
    .stats {
        font-size: 8px;
       }
     .image-side img {
            width: 250px;
            height: 350px;
        }
     .image-container .nft-card {
            width: 180px;
            height: 170px;
            margin-top: 50px;
            margin-left: 90px;
        }
}
@media(max-width:992px){
    .navbar .links,
    .navbar .action-btn{
        display: none;
    }
    .navbar .toggle-btn{
        display: block;
    }
    .dropdown-menu{
        display: block;
    }

}
@media(max-width:576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}









