*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #010613;
  font-family: 'Roboto';
    position: relative;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style: none;
    font-size: 19px;
}
nav ul a{
    color: #fff;
    text-decoration: none;
}

.dashed{
    border-bottom: 2px solid rgb(135, 183, 240);
}
.navbar{
    margin-bottom: 60px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
h1{
    color: white; 
    font-size: 70px;
    margin-bottom: 30px;
 }
 .highlight{
     color: white;
     font-size: 1.2em;
     margin-bottom: 30px;
 }
 .buttons{
    
     margin-bottom: 30px;
 }
 .btn{
     padding: 15px;
     background-color: rgb(135, 183, 240);
     border: none;
     border-radius: 10px;
     width: 25%;
     color: #fff;
     font-size: 15px;
     font-weight: 200;
     cursor: pointer;
 }
 .learn-btn{
    padding: 15px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
}

.stats{
    display: flex;
    color: white;
    gap: 3rem;
    font-size: 30px;
}
span{
    color: rgb(135, 183, 240);
}
hr{
    height: 90px;
}
img{
   height: 520px;
   width: 600px;
   border-radius: 20px;
 }
 .text-header{
    display: flex;
    justify-content: space-between;
 }
 .upper-text{
    font-size: 46px;
 }
 .btns{
    padding: 15px;
    background-color: rgb(135, 183, 240);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    height: 50px;
    width: 10%;
    cursor: pointer;
 }
 
.bid-button{
    width: 40%;
    background-color: #010613;
    color: rgb(135, 183, 240);
    border: 1px solid rgb(148, 181, 222);
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.double-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.double-container img{
    width: 400px;
    height: 400px;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end:1 ;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 8;
}
.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 8;
}
.gallery__item--5 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 8;
}
.image-container{
    display: flex;
}
.nft-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    transform: rotate(-7deg);
    z-index: -999;
}
.nft-image-1{
    position: absolute;
    left: 120px;
    top: 100px;
    z-index: -999;
}
.subscribe-container{
    max-width: 800px;
    padding: 50px;
    margin: 10px;
}
.subscribe-container h1{
    font-size: 70px;
    margin-bottom: 20px;
}
.subscribe-container p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.email-input{
    width: 50%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    outline: none;
}
.subscribe-container button{
    padding: 10px;
    height: 60px;
    border-radius: 10px;
    background-color: #204eb2;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-left: 133px;
    margin-bottom: 10px;
}
::placeholder{
    color: #fff;
}
.input-container{
    display: flex;
    background-color: #6f8fd9;
    height: 60px;
    width: 100%;
    border-radius: 10px;
}
.section{
    display: flex;
    margin-top: 100px;
    position: relative;
    margin-top: 200px;
}
.sell-section{
    max-width: 40%;
}
.third-image{
    display: flex;
    width: 40%;
    margin-left: 50px;
}
.third-image img{
    width: 400px;
    height: 400px;
}

.fourth-img{
    margin-top: 70px;
}

.image-section img{
    height: 400px;
    width: 400px;
}
.last-image{
    display: flex;
}
.form-section{
    display: flex;
    margin-top: 100px;
    position: relative;
    margin-left: 200px;
}
.fourth-image{
    display: flex;
    width: 40%;
    margin-left: 50px;
}
.fourth-image img{
    width: 400px;
    height: 400px;
}
.left-side{
    position: absolute;
    right: 1000px;
    bottom: 100px;
    z-index: -999;
}
.input-section{
    margin-left: 200px;
}
footer{
    margin-top: 200px;
    
}
.ending{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 100;
    margin-bottom: 20px;
}
.ending p{
    padding: 5px;
}
.rule{
    border: none;
    border-top: 1px solid white;
    border-bottom: none;
    width: 100%;
    display: block;
    height: 20px;
}
.footer-end{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.footer-end a{
    color: white;
    text-decoration: none;
}
.logo-container{
    padding: 15px;
    display: flex;
    gap: 1rem;
}
.logo{
    background-color: rgb(66, 66, 187);
    border-radius: 5px;
}
.logos{
    background-color: #fff;
    border-radius: 5px;
}
.cta-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 100px;
}
.cta-content {
    max-width: 50%;
}

.cta-title {
    font-size: 50px;
    margin-bottom: 20px;
}
.cta-image{
    display: flex;
    width: 40%;
    margin-left: 50px;
}
.upper-image{
    position: absolute;
    right: 50px;
    z-index: -999;
}
.lower-image{
    position: relative;
    top: 100px;
}

.highlights {
    color: #00bfff;
}
.cta-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn-primary {
    background-color: #00bfff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #008fc1;
}

.btn-secondary {
    background-color: transparent;
    color: #00bfff;
    border: 2px solid #00bfff;
}
.btn-secondary:hover {
    background-color: #00bfff;
    color: #fff;
}

.cta-image {
    max-width: 45%;
}

.cta-image img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.artworks-section {
    padding: 20px;
    text-align: center;
}

.artworks-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.artworks-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.artwork-card {
    color: #fff;
    overflow: hidden;
    width: 300px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #020308;
    margin: 0;
    padding: 15px;
    border-radius: 30px;
    box-shadow: #020308;
}

.artwork-card:hover {
    transform: translateY(-10px);
}

.artwork-card img {
    width: 100%;
    height: auto;
}

.artwork-card h3 {
    margin: 15px;
    font-size: 20px;
}

.artwork-card p {
    margin: 0 15px 15px;
    font-size: 16px;
}

.artwork-card button {
    display: block;
    width: calc(100% - 30px);
    margin: 15px;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}
.artwork-card button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}


.card-header{
    display: flex;
    justify-content: space-between;
}
.card-btn{
    padding: 15px;
    background-color: rgb(135, 183, 240);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    height: 50px;
    width: 10%;
    cursor: pointer;
    
}
.card-btn:hover{
    background-color: #0056b3;
    transition: background-color 0.3s ease;
    
}
.art-flex{
    display: flex;
    align-items: baseline;
}

.art-work-title{
    display: fle;
    color: white;
    justify-content: space-between;
}
.card-time{
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}
.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.end{
    margin-bottom: 5px;
}

@media (max-width: 1024px) {
    
    .artworks-container {
        flex-direction: column;
        align-items: center;
    }

    .artwork-card {
        width: 80%;
    }
    .cta-section {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .cta-content .cta-images {
        max-width: 100%;
    }

    .cta-title {
        font-size: 28px;
    }
    .cta-subtitle {
        font-size: 16px;
    }

    .cta-buttons {
        justify-content: center;
    }

    .cta-image{
    display: none;
}

}

@media (max-width: 768px) {
     nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }


    .artworks-section h2 {
        font-size: 20px;
    }

 .artwork-card h3 {
        font-size: 18px;
    }

    .artwork-card p {
        font-size: 14px;
    }

    .artwork-card button {
        font-size: 14px;
    }
    .cta-image {
        position: absolute;
        width: 80%;
    }
    
}
@media (max-width: 480px) {
    .artwork-card {
        width: 100%;
    }

    .artworks-section h2 {
        font-size: 18px;
    }

    .artwork-card h3 {
        font-size: 16px;
    }

    .artwork-card p {
        font-size: 12px;
    }
    .artwork-card button {
        font-size:12px;
    }
}








